body {
    background-color: #fcb9c5;
    color: #6a3e8b;
    font-family: 'Arial', sans-serif;
}
h1 {
    margin: 20px 0;
}
.tab {
    overflow: hidden;
    border: 1px solid #6a3e8b;
    background-color: #fcb9c5;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tab button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.tab button:hover {
    background-color: #ff8198;
}

.tab button.active {
    background-color: #fcb9c5;
    color: white;
}
.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #6a3e8b;
    border-radius: 5px;
    background-color: white;
}
.form-control {
    margin-bottom: 10px;
}
.btn-custom {
    background-color: #6a3e8b;
    color: white;
}
.btn-custom:hover {
    background-color: #5a2e6b;
}
th {
    background-color: #fcb9c5 !important;
    color: #5a2e6b !important;
} 
tr {
    background-color: #fdc4cf !important;
    color: #5a2e6b !important;
}
td {
    background-color: #fdc4cf !important;
    color: #5a2e6b !important;
}
input {
    background-color: #fdc4cf !important;
}
select {
    background-color: #fdc4cf !important;
}
button{
    background-color: #fcb9c5 !important;
    color: #6a3e8b;
}
form  { display: table; margin: 0 auto; width: 250px;   }
p     { display: table-row;  }
label { display: table-cell; padding: 3px; }
input { display: table-cell; }
select { display: table-cell;}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #fcb9c5;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
    fill: #fcb9c5;
    background-color: #fcb9c5;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tbody tr:nth-child(even) {
    background: #fcb9c5;
}

.highcharts-data-table tr:hover {
    background: #fcb9c5;
}

input[type="number"] {
    min-width: 50px;
}

.highcharts-description {
    margin: 0.3rem 10px;
}